ul{
    padding: 30px;
    margin: -5px;
    text-decoration: none;
    font-size: 30px;
}

li{
    display: inline;
    padding: 30px 100px;
}

a{
    text-decoration: none;
    color: black;
}

a:visited {color:black;} /* Visited link    */
a:hover {color:rgb(117, 117, 117);}   /* Mouse over link */
